* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background: linear-gradient(to right, #f5f7fa, #e4ecf4);
}

.sidebar {
  width: 240px;
  background-color: #2c3e50;
  color: white;
  padding: 30px 20px;
  height: 100vh;
  position: fixed;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
.j{
  text-decoration: none;
  color:black
}
.p{
  text-decoration: none;
  color:black
}
.cp{
  text-decoration: none;
  color:black
}
.d{
  text-decoration: none;
  color:black
}.e{
  text-decoration: none;
  color:black
}.fs{
  text-decoration: none;
  color:black
}
.f{
  text-decoration: none;
  color:black
}.c{
  text-decoration: none;
  color:black
}.cn{
  text-decoration: none;
  color:black
}
.se{
  text-decoration: none;
  color:black
}.os{
  text-decoration: none;
  color:black
}.a{
  text-decoration: none;
  color:black
}
.am{
  text-decoration: none;
  color:black
}
.nav-list {
  list-style: none;
  padding-left: 0;
}

.nav-list li {
  margin: 18px 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.nav-list li a:hover,
.nav-list li.active a {
  color: #1abc9c;
}


.main-content {
  margin-left: 260px;
  padding: 50px 40px;
  flex: 1;
  text-align: center;
}

.main-content h1 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #2c3e50;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}

.category-card {
  background-color: white;
  padding: 50px 30px;
  width: 100%;
  max-width: 370px;   
  height: 300px;      
  border-radius: 20px;
  font-size: 32px;    
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: linear-gradient(to bottom right, #ffffff, #f4f7fa);
}


.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
  background-color: #e7fdf9;
}
